{{template "header" "Page not found"}}

<div class="initial-content">
    <div id="main" role="main">
        <article class="page no-padding-right" itemscope itemtype="https://schema.org/CreativeWork">
            <div class="page__inner-wrap">
                <header>
                    <h1 id="page-title" class="page__title" itemprop="headline">Page not found</h1>
                </header>
                <section class="page__content" itemprop="text">
                    <p>Sorry, we couldn't find your page. <a href="/">Click here</a> to learn more about a vaccine.</p>
                </section>
            </div>
        </article>
    </div>
</div>

{{template "footer" .}}

</body>
</html>