{{define "footer"}}
    <div class="page__footer">
        <footer>
            <div class="page__footer-follow">
                <ul class="social-icons">
                    <li><a href="https://github.com/thehungrysmurf/vax" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
                </ul>
            </div>
            <div class="page__footer-copyright">
                &copy;2021 KnowYourVaccine
            </div>
        </footer>
    </div>
{{end}}