{{template "header" "Home"}}

<div class="initial-content">
    <div class="page__hero--overlay"
         style="background-color: #5e616c; background-image: url('https://mmistakes.github.io/minimal-mistakes/assets/images/mm-home-page-feature.jpg');"
    >
        <div class="wrapper">
            <h1 id="page-title" class="page__title" itemprop="headline">Know Your Vaccine</h1>
            <p class="page__lead">Search adverse effects from Covid19 vaccines in the US <br />as reported by the CDC</p>
        </div>
    </div>
    <div id="main" role="main">
        <article class="splash">
            <meta itemprop="description" >
            <section class="page__content" itemprop="text">
                <div class="feature__wrapper">
                    <div class="feature__item">
                        <div class="archive__item">
                            <div class="archive__item-teaser">
                                <a href="/vaccine/pfizer/"><img src="/assets/images/pfizer_logo_resized.jpg" alt="Pfizer" />
                                </a>
                            </div>
                            <div class="archive__item-body">
                                <h2 class="archive__item-title">Pfizer</h2>
                                <div class="archive__item-excerpt">
                                    <p>{{formatNum .Pfizer}} total doses administered in the US</p>
                                </div>
                                <p><a href="/vaccine/pfizer/" class="btn btn--primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="feature__item">
                        <div class="archive__item">
                            <div class="archive__item-teaser">
                                <a href="/vaccine/moderna/"><img src="/assets/images/moderna_logo_resized.jpg" alt="Moderna" />
                                </a>
                            </div>
                            <div class="archive__item-body">
                                <h2 class="archive__item-title">Moderna</h2>
                                <div class="archive__item-excerpt">
                                    <p>{{formatNum .Moderna}} total doses administered in the US</p>
                                </div>
                                <p><a href="/vaccine/moderna/" class="btn btn--primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="feature__item">
                        <div class="archive__item">
                            <div class="archive__item-teaser">
                                <a href="/vaccine/janssen/"><img src="/assets/images/j_and_j_logo_resized.png" alt="Johnson &amp; Johnson" />
                                </a>
                            </div>
                            <div class="archive__item-body">
                                <h2 class="archive__item-title">Johnson & Johnson</h2>
                                <div class="archive__item-excerpt">
                                    <p>{{formatNum .Janssen}} total doses administered in the US</p>
                                </div>
                                <p><a href="/vaccine/janssen/" class="btn btn--primary">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {{template "last_updated" .}}
        </article>
    </div>
</div>

{{template "footer" .}}

</body>
</html>