{{template "header" .}}

<div class="initial-content">
    <div id="main" role="main">
        <article class="page full-width">
            <div class="page__inner-wrap">
                <header>
                    <h1 id="page-title" class="page__title" itemprop="headline">{{.PageTitle}}</h1>
                </header>
                <section class="page__content" itemprop="text">
                    <aside class="sidebar__right ">
                        <nav class="toc">
                            <header><h4 class="nav__title">Symptoms reported</h4></header>
                            <ul class="toc__menu">
                                {{$vaccine := .VaccineSlug}}
                                {{range $sc := .SymptomCounts}}
                                    <li>
                                        <a href="#" class="category-toggle">{{$sc.Category}} reports: {{formatNum $sc.Count}}</a>
                                        <ul>
                                            <li><a href="/vaccine/{{$vaccine}}/category/{{$sc.CategorySlug}}/female/16/25">Female 16 - 25 years</a></li>
                                            <li><a href="/vaccine/{{$vaccine}}/category/{{$sc.CategorySlug}}/female/26/39">Female 26 - 39 years</a></li>
                                            <li><a href="/vaccine/{{$vaccine}}/category/{{$sc.CategorySlug}}/female/40/59">Female 40 - 59 years</a></li>
                                            <li><a href="/vaccine/{{$vaccine}}/category/{{$sc.CategorySlug}}/female/60/75">Female 60 - 75 years</a></li>
                                            <li><a href="/vaccine/{{$vaccine}}/category/{{$sc.CategorySlug}}/female/76/89">Female 76 - 89 years</a></li>
                                            <li><a href="/vaccine/{{$vaccine}}/category/{{$sc.CategorySlug}}/female/90/110">Female 90+ years</a></li>
                                            <li><a href="/vaccine/{{$vaccine}}/category/{{$sc.CategorySlug}}/male/16/25">Male 16 - 25 years</a></li>
                                            <li><a href="/vaccine/{{$vaccine}}/category/{{$sc.CategorySlug}}/male/26/39">Male 26 - 39 years</a></li>
                                            <li><a href="/vaccine/{{$vaccine}}/category/{{$sc.CategorySlug}}/male/40/59">Male 40 - 59 years</a></li>
                                            <li><a href="/vaccine/{{$vaccine}}/category/{{$sc.CategorySlug}}/male/60/75">Male 60 - 75 years</a></li>
                                            <li><a href="/vaccine/{{$vaccine}}/category/{{$sc.CategorySlug}}/male/76/89">Male 76 - 89 years</a></li>
                                            <li><a href="/vaccine/{{$vaccine}}/category/{{$sc.CategorySlug}}/male/90/110">Male 90+ years</a></li>
                                        </ul>
                                    </li>
                                {{end}}
                            </ul>
                        </nav>
                    </aside>

                    {{if .IsOverview}}
                        <p class="notice--info"> Use the categories on the right to see symptom reports.</p>
                    {{else}}

                        <h2 id="default-layout">{{.ResultsPage.CurrentCategory}} symptom reports</h2>
                        <!--
                        <p>The base layout all other layouts inherit from. There’s not much to this layout apart from pulling in several <code class="language-plaintext highlighter-rouge">_includes</code>:</p>

                        <p class="notice--warning">
                            <strong>Note:</strong>
                            You won’t ever assign this layout directly to a post or page. Instead all other layouts will build off of it by setting
                        </p>

                        <p class="notice--danger">
                            <strong>Note:</strong>
                            Has been known to mangle markup and break JavaScript… especially if inline
                        </p>

                        <p class="notice--info">
                            <strong>Note:</strong>
                            If the page contains a table of contents, it will no longer appear to the right. Instead it will be forced into the main content container directly following the page’s title.
                        </p>
                         -->

                        <h3 class="notice--info" id="table-of-contents">{{.ResultsPage.Sex}}, {{.ResultsPage.AgeMin}} - {{.ResultsPage.AgeMax}} years </h3>

                        <table>
                            <thead>
                            <tr>
                            <th>Age</th>
                            <th>Reported</th>
                            <th>Symptoms</th>
                            <th>Notes</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{range $row := .ResultsPage.Results}}
                                <tr>
                                    <td>{{$row.Age}}</td>
                                    <td>{{$row.ReportedAt}}</td>
                                    <td><strong>{{comma $row.Symptoms}}</strong></td>
                                    <td>
                                        {{ellipsis $row.Notes}}
                                        {{$s := len $row.Notes}}
                                        {{if gt $s 100}}
                                            <a href="#" class="short-notes">Read more</a>
                                            <div class="full-notes">
                                                <div class="close-notes-bar"><a href="#" class="close-notes">Close</a></div>
                                                {{$row.Notes}}
                                            </div>
                                        {{end}}
                                    </td>
                                </tr>
                            {{end}}
                            </tbody>
                        </table>
                    {{end}}
                </section>
                {{template "last_updated" .}}
            </div>
        </article>
    </div>
</div>

{{template "footer" .}}

<script>
    var categories = document.getElementsByClassName("category-toggle");
    for (var i = 0; i < categories.length; i++) {
        var el = categories[i];
        el.onclick = function(event) {
            event.preventDefault();
            var ul = this.parentElement.getElementsByTagName("ul")[0];
            if(ul.className == "") {
                ul.className = "category-open";
            } else {
                ul.className = "";
            }
        }
    }

    var url = window.location.toString();
    var menu = document.getElementsByClassName("toc__menu")[0]
    var symptomGroups = menu.getElementsByTagName("a");
    for (var i = 0; i < symptomGroups.length; i++) {
        var link = symptomGroups[i];
        if(link.href == url) {
            link.parentNode.parentNode.className += " category-open";
        }
    }

    var ellipsis = document.getElementsByClassName("short-notes");
    for (var i = 0; i < ellipsis.length; i++) {
        var el = ellipsis[i];
        el.onclick = function(event) {
            event.preventDefault();
            var td = this.parentElement;
            if(td.className == "") {
                td.className = "open-notes";
            } else {
                td.className = "";
            }
        }
    }

    var close = document.getElementsByClassName("close-notes");
    for (var i = 0; i < close.length; i++) {
        var el = close[i];
        el.onclick = function(event) {
            event.preventDefault();
            var td = this.parentElement.parentElement.parentElement;
            td.className = "";
        }
    }
</script>
</body>
</html>